
body{

	background: #ececec;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

img {

text-align: center;

}

#space {

	height: 40px;

}

#titlePanel {
	
	border: solid;
	border-color: #c0c2c3; 

	background: #c0c2c3; 

	padding-top: 10px;
	padding-left: 30px;


	border-top-right-radius: 50px;
	border-top-left-radius: 50px;

}

#bodyPanel {

	border: solid;
	border-color: #c0c2c3;

	background: #ececec;

	text-align: center;

	padding: 20px;

	border-bottom-right-radius: 20px; 
	border-bottom-left-radius: 20px;

}

#book {

	max-width: 200px;
	max-height: 300px;

	text-align: center;

}
